#contatoMain {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: #edeef0;
    padding-top: 80px;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.31rem 0.5%;
    background-color: #13072e;
    z-index: 10;
    font-family: "DM Sans", sans-serif;
}


#logo {
    max-width: 11.88rem;
    max-height: 7.50rem;
    width: auto;
    height: auto;
    padding: 0.94rem;
    margin-left: 3rem;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    margin: 0.94rem;
    position: relative; /* Necessário para o posicionamento do submenu */
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #bded33;
    transition: 0.3s all;
}


.submenu {
    display: none; /* Submenu oculto por padrão */
    position: absolute;
    top: 100%; /* Coloca o submenu logo abaixo do item */
    left: 50%; /* Posiciona o submenu no meio do botão */
    transform: translateX(-50%); /* Ajusta o submenu para centralizar com o botão */
    background-color: #13072e;
    padding: 0.5rem;
    border-radius: 0.5rem;
    min-width: 150px;
    width: 200px;
}

.submenu li {
    display: block;
    
}

.submenu li a {
    color: white;
}



/* Mostrar submenu ao passar o mouse sobre "Serviços" */
#servicos-li:hover .submenu {
    display: block;
}

/* Efeito de hover nos itens do menu */
.navbar li a:hover {
    color: #bded33;
    transition: 0.3s all;
}
.navbar #contato-btn {
    background-color: #bded33;
    padding: 0.63rem;
    border-radius: 1.25rem;
    color: #13072e;
    margin-right: 3.9rem;
    text-decoration: none;
}

.navbar #contato-btn:hover {
    background-color: #5ce1e6;
    color: #13072e;
    cursor: pointer;
    
}

#img-contato img {
    width: 90vh; 
    height: 100vh; 
}

#form-div {
    width: 100%;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #0B2C35;

}


#texto-form {
    text-align: center;
    margin-top: 0.5rem; 
    margin-bottom: 1.5rem;
}

#campos input, select {
    border-radius: 1rem; 
    background-color: rgb(217, 223, 227);
    width: 20rem; 
    height: 3rem;
    border: none;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-family: "DM Sans", sans-serif;
}

#label {
    padding-left: 1rem; 
}

textarea {
    background-color: rgb(217, 223, 227);
    width: 20rem; 
    height: 6rem;
    border: none;
}

#botao-form {
    background-color: #007bff;
    color: white;
    width: 12rem; 
    margin-top: 1rem;
    border-radius: 1.5rem;
    height: 3rem;
    border: none;
    font-family: "DM Sans", sans-serif;
}

#botao-form:hover {
    cursor: pointer;
    background-color: #0056b3;
}

footer {
    height: 2.08vw;
    width: 100%;
}

.footer-bottom{
    background: #13072e;
    padding: 1.04vw 0;
    text-align: center;
    color: white;
    
}
.footer-bottom p{
    font-size: 1.1rem;
}